.input-enclosure {
    width:300px;
    display:flex;
    justify-content: space-between;
}

.buttons-enclosure {
    display:flex;
    margin-right:10px;
    width:90px;
    justify-content: space-between;

}
.delete {
    background-color: rgb(189, 67, 67);
    border-radius: 4px;
    width:75px;
    font-size:12px;
}

.group-list-item {
    display:flex;
    justify-content: space-between;
    background: 3px solid orange;

}

.members{
    width:600px;
}

.edit-group {
    display:flex;
    justify-content: space-between;
}