.input-enclosure {
    width:300px;
    display:flex;
    justify-content: space-between;
}

.buttons-enclosure {
    display:flex;
    width:90px;
    justify-content: space-between;

}
.delete {
    background-color: rgb(189, 67, 67);
    border-radius: 4px;
    width:75px;
    font-size:12px;
}