.members-list {
    align-items:center;
    width:500px;
}

.member-header{
    justify-content: center;
    align-content: center;
}

.add-member {
    background-color: rgb(87, 189, 87);
    border-radius:4px;
    font-size:15px;
}
.member-list {
    margin-top:30px;
}
.click-notify{
    font-size:24px;
}