.group-list-item {
    display:flex;
    justify-content: space-between;
}

.add-user {
     background-color: rgb(87, 189, 87);
    ;
}

.members-buttons {
    display:flex;
}

.members-edit {
    width:500px;
    display:flex;
    justify-content: space-between;
}