.members-list {
    align-items:center;
    border:3px solid red;
    width:400px;
}

.member-header{
    justify-content: center;
    align-content: center;
}

.add-member {
    background-color: rgb(87, 189, 87);
    border-radius:4px;
    font-size:15px;
}
.click-notify {
    top:25px;
}